name: On Merge Group

on:
  pull_request:
    # branches:
    #   - main
  merge_group:

jobs:
  debug:
    # if: ${{ github.event_name == 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
