name: On Merge Group

on:
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  debug:
    if: ${{ github.event_name == 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Create or replace ticket qa tag based on commit message
        env:
          MSG: ${{ github.event.merge_group.head_commit.message }}
        run: |
          MATCH=$(echo "$MSG" | grep -oE 'CHI-[0-9]+' || true)
          if [ ! -z "$MATCH" ]; then
            echo "Pattern found: $MATCH"
            TAG="qa/$MATCH"

            # Check if tag already exists
            EXISTS=$(git tag -l "$TAG")
            if [ ! -z "$EXISTS" ]; then
              echo "Tag $TAG already exists. Deleting it."
              git tag -d "$TAG"
              git push origin :refs/tags/"$TAG"
            fi

            # Create new tag
            echo "Creating new tag: $TAG"
            git tag "$TAG"
            git push origin "$TAG"
          else
            echo "No matching pattern found in the commit message."

      - name: fail
        run: exit 1

